@font-face {
  font-family: 'fixedsys';
  src: url('./FSEX302.ttf') format('truetype');
}
body {
  background-color: black;
  color: white;
  font-size: 20px;
  margin: 20px;
}
ul li, p, h2, a {
  line-height: 1.4;
}
.yellow, h2, a {
  color: #ffff00;
}
h2 {
  margin: 0;
}
* {
  font-family: fixedsys;
}
header {
  margin: 25px 0;
}
header .banner {
  background-color: #0000ff;
}
header .info {
  width: 600px;
  margin: 0 auto 5px auto;
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 7rem;
  margin: 0;
  width: 600px;
  margin: 0 auto
}
h1 a {
  text-decoration: none;
  line-height: 6rem;
  color: white;
}
main {
  width: 600px;
  margin: 40px auto;
  min-height: 500px;
}
main h1 {
  font-size: 2rem;
  line-height: 2.2rem;
  color: #ffff00;
}
main p {
  color: white;
}
footer {
  margin: 25px 0 0 0;
  background-color: #0000ff;
  border-top: 5px solid #ffff00;
  text-align: center;
  color: #ffff00;
  padding: 5px 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.date {
  color: #ffff00;
  text-align: right;
  grid-area: date;
}
.title {
  grid-area: title;
}
ul li {
  display: grid;
  grid-template-columns: 1fr 105px;
  grid-template-areas: "title date";
  margin-bottom: 16px;
}
a:hover {
  text-decoration: none;
}
table {
  margin-bottom: 20px;
  width: 100%;
  table-layout: fixed;
}
table img, img {
  max-width: 100%;
  height: auto;
}
th {
  text-align: left;
}
th, td {
  padding: 5px;
  border: 1px solid #333333;
}
code {
  background-color: #555555;
  padding: 0 3px;
  border-radius: 2px;
  word-wrap: break-word;
}
pre code {
  background-color: transparent;
}
@media screen and (max-width: 660px) {
  h1, main, footer, header .info {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  h1 {
    font-size: 5rem;
  }
  ul li {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "date"
      "title";
    margin-bottom: 30px;
  }
  .date {
    text-align: left;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 4rem;
  }
  header .info {
    font-size: 1rem;
  }
}